.mapboxgl-style-list {
  display: none;
}

.mapboxgl-ctrl-group .mapboxgl-style-list button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  color: #000000;
  font-size: 14px;
  padding: 8px 8px 6px;
  text-align: right;
  width: 100%;
  height: auto;
}

.mapboxgl-style-list button.active {
  font-weight: bold;
}

.mapboxgl-style-list button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.mapboxgl-style-list button + button {
  border-top: 1px solid #ddd;
}

.mapboxgl-ctrl-icon.mapboxgl-style-switcher {
  background-image: url("/images/icons/basemap.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64%;
}
